<div class="row" ng-repeat="story in stories">
    <div class="row">
        <div class="col-md-12">
            <h1><a ng-href="{{story.url}}">{{story.title}}</a></h1>
        </div>
        <div class="row">
            <div class="col-md-4" ng-if="story.image">
                <img ng-src="{{story.image}}" class="img-responsive" width="75%" height="250">
            </div>
            <div class="col-md-8">
                <p class="lead">{{story.description}}</p>
            </div>
        </div>
    </div>
</div>